@* Author: David Scott Blackburn *@
@* Project: Welcome Page *@
@* Version: 2.0.0 *@
@* Purpose: Explain the purpose of this site*@

@{
    ViewBag.Title = "About";
    ViewBag.Description = "This is an explanation of the site";
    Layout = "~/Views/Shared/_Common.cshtml";
}
<h2>@ViewBag.Title.</h2>

<p>
    Welcome to my web site.  It is designed to tell you who I am and to show that I possess the skills
    and abilities that are required to do what I claim that I can do.
</p>

<h3>How to get a hold of me?</h3>
<p>You can send me a message in the contacts & Comments area.  You don't have to leave an email or name.
    I'lll eventually see the comment.  By leaving an email or a name I will be notified sooner.</p>

<h3>Where can I get a copy of your resume?</h3>
<p>Click on the Download Resume button near my photograph.,</p>

<h3>What Services do you offer?</h3>
<p>Please go to the Profiles & Services area.</p>

<h3>Where is the site's/app's source code?</h3>
<p>Please go to the Blogs & Docs area and go to my GitHub.</p>

<p>The auther of the is site is David Scott Blackburn.</p>
<p>Version 1.0.0</p>
