@* Author: David Scott Blackburn *@
@* Project: Demo Application Page *@
@* Version: 1.0.0 *@
@* Purpose: This is the Welcome/Landing Web Page for the dsbburn system *@

@{
    ViewBag.Title = "Gallery";
    ViewBag.Description = "This contains reports, SSIS package explainations and other examples of my work.";
    Layout = "~/Views/Shared/_Common.cshtml";
}
<h2>@ViewBag.Title.</h2>

<p>
This page will display reports that I have created using SSRS, SSIS packages, and other examples of my work.
</p>




