@* Author: David Scott Blackburn *@
@* Project: Demo Application Page *@
@* Version: 1.0.0 *@
@* Purpose: This is the Welcome/Landing Web Page for the dsbburn system *@
@{
    Layout = null;
}
@{
    ViewBag.Title = "InteractiveResume";
}

<h2>Interactive Resume</h2>

