@* Author: David Scott Blackburn *@
@* Project: Demo Application Page *@
@* Version: 1.0.0 *@
@* Purpose: This is the Welcome/Landing Web Page for the dsbburn system *@
@{
    ViewBag.Title = "Profiles & Services";
    ViewBag.Description = "This is an explanation of the site";
    Layout = "~/Views/Shared/_Common.cshtml";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-xs-offset-1 col-xs-11">
        <h3>Profiles</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <a href="https://www.linkedin.com/in/sblackburn31" title="Go to David Blackburn's Linked In Profile">
            <img src="~/Images/linkedin.png" alt="Linked In" style="width:50px;height:50px;border:0;margin:15px;">
            Linked In
        </a>
        <a href="https://www.visualcv.com/sblackburn31/" title="Go to David Blackburn's Visal CV Profile">
            <img src="~/Images/VisualCV.png" alt="Visual VC" style="width:150px;height:50px;border:0;margin:15px;">
        </a>
        <a href="https://stackoverflow.com/story/sblackburn31" title="Go to David Blackburn's Stack Overflow Profile">
            <img src="~/Images/stackoverflow.png" alt="Stack Overflow" style="width:150px;height:70px;border:0;margin:15px;">
        </a>
    </div>
</div>




<div class="row">
    <div class="col-xs-offset-1 col-xs-11">
        <h3>Freelance Profiles</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <a href="https://www.upwork.com/o/profiles/users/_~010cc2e167f48758e9/" title="Go to David Blackburn's Up Work Profile">
            <img src="~/Images/upwork2.png" alt="Up Work" style="width:125px;height:125px;border:0;margin:15px;">
        </a>
        <a href="https://www.fiverr.com/sblackburn31" title="Go to David Blackburn's Fiver Profile">
            <img src="~/Images/fiverr.png" alt="Fiver" style="width:180px;height:125px;;border:0;margin:15px;">
        </a>
        <a href="https://www.freelancer.com/u/sblackburn31" title="Go to David Blackburn's Freelancer Profile">
            <img src="~/Images/Freelancer.png" alt="Freelancer" style="width:125px;height:125px;border:0;margin:15px;">
        </a>
        <a href="https://www.guru.com/freelancers/david-blackburn" title="Go to David Blackburn's Guru Profile">
            <img src="~/Images/Guru.png" alt="Guru" style="width:125px;height:125px;border:0;margin:15px;">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-11">
        <h3>Freelance Services</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
            <a href="https://www.fiverr.com/sblackburn31/sql-server-development-improvement-and-optimizing" title="Go to David Blackburn's Database Development Service">
                <img src="~/Images/service1.png" alt="Database Development Service" style="border:0;margin:15px;">
            </a>
            <a href="https://www.fiverr.com/sblackburn31/provide-database-programming-for-sql-server" title="Go to David Blackburn's Query & Database Programming Service">
                <img src="~/Images/service2.png" alt="Query & Database Programming Service" style="border:0;margin:15px;">
            </a>
    </div>
</div>



